.home{
    margin: 20px 20px;
    
    .card-div{
        padding: 10px;
    }

    .example-card {
    //   max-width: 400px;
    }

    .example-header-image {
    //   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }

    .mat-card-image{
        width: 90px;
        height: 90px;
        margin: auto;
    }
}